<h1 class="text-center mt-5">POST</h1>
<a class="float-right mr-5" href="#aggiuntaOggetto">Aggiungi post</a>
<div class="container-fluid container-post p-3">
  <div *ngFor="let post of posts" class="border border-success rounded p-4" id="post">
    <h2 class="d-inline-block">{{post.titolo}}</h2>
    <h4 class="d-inline-block float-right">€ {{post.prezzo}}</h4>
    <h6>{{post.descrizione}}</h6>
    <h6 class="float-right text-secondary">{{post.username}} ({{post.nomeUtente}} {{post.cognomeUtente}})</h6>
    <br>
    <br>
    <h6 class="text-secondary float-right"><small><b>{{post.data}}</b></small></h6>
    <br>
    <br>
    <div>
      <input type="text" class="form-control" onfocus="this.value=''" placeholder="Aggiungi commento qui..." #commento>
      <button class="btn btn-sm btn-dark" id="btnCommenta" (click)="commenta(commento, post)">Commenta</button>
    </div>
    <br>
    <div *ngFor="let commento of post.commenti" class=" rounded p-2 mb-4" id="commento">
      <h6 class="d-inline-block"><b>{{commento.username}} ({{commento.nomeUtente}} {{commento.cognomeUtente}})</b></h6><p class="d-inline-block float-right"><small><b>{{commento.data}}</b></small></p>
      <p style="font-size:14px" class="ml-4">{{commento.testo}}</p>
    </div>
  </div>
</div>
<div class="aggiunta-post-oggetti">
  <form id="aggiuntaOggetto" [formGroup]="postForm" (ngSubmit)="aggiungiPost(postForm.value)" class="p-5">
    <h3><b>AGGIUNGI POST</b></h3>
    <div class="form-row m-2">
        <div class="col">
            Titolo
            <input type="text" class="form-control" onfocus="this.value=''" name="titolo" [formControl]="postForm.controls['titolo']">
            <div *ngIf="postForm.controls['titolo'].hasError('required')" class="text-danger mt-1">Il titolo è richiesto</div>
        </div>
        <div class="col">
            Prezzo
            <input type="number" class="form-control" onfocus="this.value=''" name="prezzo" [formControl]="postForm.controls['prezzo']">
            <div *ngIf="postForm.controls['prezzo'].hasError('required')" class="text-danger mt-1">Il prezzo è richiesto</div>
        </div>
    </div>
    <div class="m-3">
        Descrizione
        <input type="text" class="form-control" onfocus="this.value=''" name="descrizione" [formControl]="postForm.controls['descrizione']">
        <div *ngIf="postForm.controls['descrizione'].hasError('required')" class="text-danger mt-1">La descrizione è richiesta</div>
    </div>
    <h4 id="loginPerOggetti" style="display:none">NON HAI EFFETTUATO IL LOGIN</h4>
    <button class="m-3 btn btn-primary btn-block btn-md w-25 float-right" type="submit" [disabled]="!postForm.valid">Aggiungi</button>
  </form>
  <app-new-object username="username"></app-new-object>
</div>
