<form [formGroup]="myForm">
  Numero 1<br>
  <input type="number" name="numero1" #numero1 [formControl]="myForm.controls['numero1']"><br>
  Numero 2<br>
  <input type="number" name="numero2" #numero2 [formControl]="myForm.controls['numero2']">
  <button type="button" (click)="somma()">+</button>
  <button type="button" (click)="sottrazione()">-</button>
  <button type="button" (click)="moltiplicazione()">*</button>
  <button type="button" (click)="divisione()">/</button>
</form>

<app-ris-component [risultato]="risultato"></app-ris-component>