<form [formGroup]="myForm">
  <div class="form-group">
    <label for="numero1">Numero 1</label>
    <input type="number" class="form-control w-25" id="numero1" name="numero1" onfocus="this.value=''" [formControl]="myForm.controls['numero1']">
  </div>
  <div class="form-group">
    <label for="numero2">Numero 2</label>
    <input type="number" class="form-control w-25" id="numero2" name="numero2" onfocus="this.value=''" [formControl]="myForm.controls['numero2']">
  </div>
  <div *ngIf="!myForm.valid" class="alert alert-danger">Il form non è valido</div>
  <button type="button" class="btn btn-primary m-2 btn-outline-dark text-light" (click)="somma()">+</button>
  <button type="button" class="btn btn-primary m-2 btn-outline-dark text-light" (click)="sottrazione()">-</button>
  <button type="button" class="btn btn-primary m-2 btn-outline-dark text-light" (click)="moltiplicazione()">*</button>
  <button type="button" class="btn btn-primary m-2 btn-outline-dark text-light" (click)="divisione()">/</button>
</form>

<span *ngFor="let n of arrayNumeri">{{ n }}-</span>

<app-ris-component [risultato]="risultato"></app-ris-component>
