<h2 class="text-center mt-3">INSERISCI I TUOI DATI</h2>
<div class="ml-5 mr-5 mt-3 border border-primary rounded">
  <form class="text-center p-3">

    <div class="form-row mb-4">
        <div class="col">
            <input type="text" class="form-control" name="nome" placeholder="Nome">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="cognome" placeholder="Cognome">
        </div>
    </div>

    <input type="text" class="form-control mb-4" name="indirizzo" placeholder="Indirizzo">
    <input type="email" class="form-control mb-4" name="email" placeholder="Email">
    <input type="tel" class="form-control mb-4" name="telefono" placeholder="Telefono" pattern="[0-9]{3}-[0-9]{7}">

    <div class="form-row mb-4">
        <div class="col">
            <input type="date" class="form-control mb-4" name="data" placeholder="Data" min="2019-06-07" max="2019-12-31">
        </div>
        <div class="col">
            <input type="time" class="form-control mb-4" name="ora" placeholder="Ora">
        </div>
    </div>

    <button class="btn btn-success btn-block" type="submit">Prenota</button>

  </form>
</div>
